<div class="panel">
	<div class="row">
		<div id="welcome_banner">
			<div class="transparent">
				<div class="animated-home"><h1>Welcome!<h1></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="home-main">
		  <div class="post-title">
		  	<h3 class="responsive-font-title">TITLE</h3>
		  </div>
		  <div class="post-image img-responsive">
		  	  IMAGE
		  </div>

		  <div class="post-body">
		  	  BODY
		  </div>
		</div>
	</div>
</div>