
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-widget">
          <h3>Social Links</h3>
          <div class="footer-widget-content">
            <div class="footer-social">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="footer-widget">
          <h3>Contacts</h3>
          <div class="footer-widget-content">
            <div class="media">

                <div class="media-body">
                   <p><a href="#">Phone:</a></p>
                   <span>+260971500903</span>
                </div>
             </div>
            <div class="media">
                <div class="media-body">
                   <p><a href="#">Email: </a></p>
                   <span>onemoox@gmail.com </span>
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>